In [ ]:
# importing the libraries
import pandas as pd
import re
import numpy as np
import requests
import json
import quandl
import warnings
from sqlalchemy import create_engine, inspect
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func
from config import passwd
warnings.filterwarnings('ignore')

In [19]:
# Reading the fortune1000 data into a Pandas dataframe
original_fortune_data = pd.read_csv("../DataSets/fortune1000-final.csv", encoding = "ISO-8859-1")

# reading the S & P data
s_and_p_data = pd.read_csv("../DataSets/constituents_csv.csv", encoding = "ISO-8859-1")
s_and_p_data = s_and_p_data[["Symbol", "Name"]][:500]
s_and_p_data.head()

  Symbol                 Name
0    MMM           3M Company
1    AOS      A.O. Smith Corp
2    ABT  Abbott Laboratories
3   ABBV          AbbVie Inc.
4    ACN        Accenture plc

In [20]:
# Finding the size of the data
original_fortune_data.shape

(1000, 19)

In [21]:
# Viewing records
original_fortune_data.head()

,rank,title,Previous Rank,Revenues ($M),Revenue Change,Profits ($M),Profit Change,Assets ($M),Mkt Value as of 3/29/18 ($M),Employees,CEO,CEO Title,Sector,Industry,Years on Fortune 500 List,City,State,Latitude,Longitude
0,1,Walmart,1,"$500,343",3.00%,"$9,862.00",-27.70%,"$204,522","$263,563","2,300,000",C. Douglas McMillon,"President, Chief Executive Officer & Director",Retailing,General Merchandisers,24,Bentonville,AR,36.372854,-94.208817
1,2,Exxon Mobil,4,"$244,363",17.40%,"$19,710.00",151.40%,"$348,691","$316,157","71,200",Darren W. Woods,Chairman & Chief Executive Officer,Energy,Petroleum Refining,24,Irving,TX,32.814018,-96.948894
2,3,Berkshire Hathaway,2,"$242,137",8.30%,"$44,940.00",86.70%,"$702,095","$492,008","377,000",Warren E. Buffett,"Chairman, President & Chief Executive Officer",Financials,Insurance: Property and Casualty (Stock),24,Omaha,NE,41.256537,-95.934503
3,4,Apple,3,"$229,234",6.30%,"$48,351.00",5.80%,"$375,319","$851,318","123,000",Timothy D. Cook,Chairman & Chief Executive Officer,Technology,"Computers, Office Equipment",24,Cupertino,CA,37.322998,-122.032182
4,5,UnitedHealth Group,6,"$201,159",8.80%,"$10,558.00",50.50%,"$139,058","$207,080","260,000",David S. Wichmann,Chairman & Chief Executive Officer,Health Care,Health Care: Insurance and Managed Care,24,Minnetonka,MN,44.921184,-93.468749

In [22]:
original_fortune_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
rank                            1000 non-null int64
title                           1000 non-null object
Previous Rank                   938 non-null object
Revenues ($M)                   1000 non-null object
Revenue Change                  1000 non-null object
Profits ($M)                    1000 non-null object
Profit Change                   1000 non-null object
Assets ($M)                     1000 non-null object
Mkt Value as of 3/29/18 ($M)    1000 non-null object
Employees                       1000 non-null object
CEO                             1000 non-null object
CEO Title                       1000 non-null object
Sector                          1000 non-null object
Industry                        1000 non-null object
Years on Fortune 500 List       1000 non-null object
City                            999 non-null object
State                           1000 non-null object
Latitude                        1000 non-null float64
Longitude                       1000 non-null float64
dtypes: float64(2), int64(1), object(16)
memory usage: 148.5+ KB

In [23]:
# Handling NA values
# finding NA records`
original_fortune_data[original_fortune_data.isnull().any(axis=1)].head()

,rank,title,Previous Rank,Revenues ($M),Revenue Change,Profits ($M),Profit Change,Assets ($M),Mkt Value as of 3/29/18 ($M),Employees,CEO,CEO Title,Sector,Industry,Years on Fortune 500 List,City,State,Latitude,Longitude
343,344,DCP Midstream,NaN,"$8,462",465.30%,$229.00,-26.60%,"$13,878","$5,033","2,650",Wouter T. van Kempen,"Chairman, President & Chief Executive Officer",Energy,Pipelines,1,Denver,CO,39.739236,-104.990251
373,374,DXC Technology,NaN,"$7,607",7.10%,($123.00),-149.00%,"$8,663","$28,720","60,000",J. Michael Lawrie,"Chairman, President & Chief Executive Officer",Technology,Information Technology Services,1,Tysons,VA,38.918722,-77.231093
401,402,JetBlue Airways,403,"$7,015",5.80%,"$1,147.00",51.10%,"$9,781","$6,540","17,424",Robin Hayes,"President, Chief Executive Officer & Director",Transportation,Airlines,6,NaN,NY,40.744679,-73.948542
419,420,Fortive,NaN,"$6,656",-,"$1,044.50",-,"$10,501","$26,979","26,000",James A. Lico,"President, Chief Executive Officer & Director",Industrials,Industrial Machinery,1,Everett,WA,47.978985,-122.202079
465,466,Conduent,NaN,"$6,022",-,$181.00,-,"$7,548","$3,923","90,000",Ashok Vemuri,Chairman & Chief Executive Officer,Business Services,Diversified Outsourcing Services,1,Florham Park,NJ,40.787878,-74.388207

In [24]:
# As previous rank is not an import column for our analysis, dropping that column
original_fortune_data = original_fortune_data.drop('Previous Rank', axis=1)
original_fortune_data['City'] = original_fortune_data['City'].replace(np.nan, 'New York', regex=True)
# Converting rank and employees to Integer type
original_fortune_data["rank"] = original_fortune_data["rank"].apply(lambda x: int(x))
original_fortune_data["Employees"] = original_fortune_data["Employees"].apply(lambda x: int(re.sub('[^0-9]', '', x)))

#extracting top 500 rank companies
original_fortune_data = original_fortune_data[original_fortune_data["rank"] < 501]

In [25]:
# Verifying the Null values
original_fortune_data[original_fortune_data.isnull().any(axis=1)]

Empty DataFrame
Columns: [rank, title, Revenues ($M), Revenue Change, Profits ($M), Profit Change, Assets ($M), Mkt Value as of 3/29/18 ($M), Employees, CEO, CEO Title, Sector, Industry, Years on Fortune 500 List, City, State, Latitude, Longitude]
Index: []

In [26]:
%%time
cols_to_be_changed = ["Revenues ($M)","Revenue Change", "Profits ($M)","Profit Change", "Assets ($M)","Mkt Value as of 3/29/18 ($M)"]
new_cols = ["Revenues($M)","Revenue_Change", "Profits($M)","Profit_Change", "Assets($M)","Mkt_Value_as_of_3/29/18_($M)"]
for index,row in original_fortune_data.iterrows():

    for i in range(len(cols_to_be_changed)):
        try:
            original_fortune_data.loc[index,new_cols[i]] = float(re.sub('[^0-9]','',row[cols_to_be_changed[i]]))
        except:
            #print(row[cols_to_be_changed[i]])
            original_fortune_data.loc[index,new_cols[i]] = 0.0


for i in cols_to_be_changed:
    if i in original_fortune_data.columns:
        original_fortune_data = original_fortune_data.drop(i, axis=1)

Wall time: 2.25 s

In [27]:
original_fortune_data.info()
original_fortune_data.head(5)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 24 columns):
rank                            500 non-null int64
title                           500 non-null object
Revenues ($M)                   500 non-null object
Revenue Change                  500 non-null object
Profits ($M)                    500 non-null object
Profit Change                   500 non-null object
Assets ($M)                     500 non-null object
Mkt Value as of 3/29/18 ($M)    500 non-null object
Employees                       500 non-null int64
CEO                             500 non-null object
CEO Title                       500 non-null object
Sector                          500 non-null object
Industry                        500 non-null object
Years on Fortune 500 List       500 non-null object
City                            500 non-null object
State                           500 non-null object
Latitude                        500 non-null float64
Longitude                       500 non-null float64
Revenues($M)                    500 non-null float64
Revenue_Change                  500 non-null float64
Profits($M)                     500 non-null float64
Profit_Change                   500 non-null float64
Assets($M)                      500 non-null float64
Mkt_Value_as_of_3/29/18_($M)    500 non-null float64
dtypes: float64(8), int64(2), object(14)
memory usage: 117.7+ KB

,rank,title,Revenues ($M),Revenue Change,Profits ($M),Profit Change,Assets ($M),Mkt Value as of 3/29/18 ($M),Employees,CEO,...,City,State,Latitude,Longitude,Revenues($M),Revenue_Change,Profits($M),Profit_Change,Assets($M),Mkt_Value_as_of_3/29/18_($M)
0,1,Walmart,"$500,343",3.00%,"$9,862.00",-27.70%,"$204,522","$263,563",2300000,C. Douglas McMillon,...,Bentonville,AR,36.372854,-94.208817,500343.0,300.0,986200.0,2770.0,204522.0,263563.0
1,2,Exxon Mobil,"$244,363",17.40%,"$19,710.00",151.40%,"$348,691","$316,157",71200,Darren W. Woods,...,Irving,TX,32.814018,-96.948894,244363.0,1740.0,1971000.0,15140.0,348691.0,316157.0
2,3,Berkshire Hathaway,"$242,137",8.30%,"$44,940.00",86.70%,"$702,095","$492,008",377000,Warren E. Buffett,...,Omaha,NE,41.256537,-95.934503,242137.0,830.0,4494000.0,8670.0,702095.0,492008.0
3,4,Apple,"$229,234",6.30%,"$48,351.00",5.80%,"$375,319","$851,318",123000,Timothy D. Cook,...,Cupertino,CA,37.322998,-122.032182,229234.0,630.0,4835100.0,580.0,375319.0,851318.0
4,5,UnitedHealth Group,"$201,159",8.80%,"$10,558.00",50.50%,"$139,058","$207,080",260000,David S. Wichmann,...,Minnetonka,MN,44.921184,-93.468749,201159.0,880.0,1055800.0,5050.0,139058.0,207080.0

In [13]:
s_and_p_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
Symbol    500 non-null object
Name      500 non-null object
dtypes: object(2)
memory usage: 7.9+ KB

In [14]:
# Cleaning up common fields for comparing
original_fortune_data['title'] = original_fortune_data['title'].apply(lambda x: re.sub('[\-]','',x.lower()))
s_and_p_data['Name'] = s_and_p_data['Name'].apply(lambda x: re.sub('[\-]','',x.lower()))
original_fortune_data = original_fortune_data.sort_values(by=['title'])
s_and_p_data = s_and_p_data.sort_values(by=['Name'])

In [206]:
# Merging data
# merged_fortune_data = pd.merge_asof(original_fortune_data, s_and_p_data, left_on = 'title', right_on = 'Name')

In [ ]:
%%time
#Sorting both datasets and 
original_fortune_data['Symbol'] = ""
original_fortune_data = original_fortune_data.sort_values(by=['title'])
s_and_p_data = s_and_p_data.sort_values(by=['Name'])
for i,row1 in original_fortune_data.iterrows():
    o_title = re.sub('[\-]','',row1['title'].lower())
    for j,row2 in s_and_p_data.iterrows():
        s_title = re.sub('[\-]','',row2['Name'].lower())
        s_Symbol = row2['Symbol']
        if re.match(o_title,s_title):
#                 print(f"{o_title} {s_title} {s_Symbol}")
                original_fortune_data.loc[i,"Symbol"] = s_Symbol

    
#original_fortune_data['new_title'] = original_fortune_data['title'].apply(lambda x: difflib.get_close_matches(x.split()[0], s_and_p_data['Name']))
#merged_fortune_data = original_fortune_data.join(s_and_p_data)

3m 3m company MMM
abbott laboratories abbott laboratories ABT
abbvie abbvie inc. ABBV
activision blizzard activision blizzard ATVI
adobe systems adobe systems inc ADBE
advance auto parts advance auto parts AAP
aes aes corp AES
aetna aetna inc AET
aflac aflac inc AFL

In [208]:
# Viewing the data
original_fortune_data[original_fortune_data["Symbol"] == ""].count()

rank                            220
title                           220
Employees                       220
CEO                             220
CEO Title                       220
Sector                          220
Industry                        220
Years on Fortune 500 List       220
City                            220
State                           220
Latitude                        220
Longitude                       220
Revenues($M)                    220
Revenue_Change                  220
Profits($M)                     220
Profit_Change                   220
Assets($M)                      220
Mkt_Value_as_of_3/29/18_($M)    220
Symbol                          220
dtype: int64

#Getting data from API for 2018
apiKey = '4CVJgYzyLyypcSqr9Ckc'
quandl.ApiConfig.api_key = apiKey
url = f"https://www.quandl.com/api/v3/datasets/WIKI/${stock}.json?start_date=2018-01-01&end_date=2018-12-01&api_key={apiKey}"
try:
    response = requests.get(url).json()
    print(response)
except Exception as e:
    print(e)

In [209]:
# Re-sort to rank
original_fortune_data = original_fortune_data.sort_values(by="rank")
# Coverting title to Title case
original_fortune_data['title'] = original_fortune_data['title'].apply(lambda x: x.title())
# Re-naming and re-arranging the columns
original_fortune_data.columns = ["Rank", "Title","Employees","CEO", "CEO_Title", "Sector", "Industry", "Years_on_Fortune_500_List", "City", "State", "Latitude", "Longitude","Revenues","Revenue_Change","Profits","Profit_Change", "Assets","Mkt_Value","Symbol"]
fortune500_data = original_fortune_data[["Rank", "Title","Employees","CEO", "CEO_Title", "Sector", "Industry", "Years_on_Fortune_500_List", "City", "State", "Latitude", "Longitude","Revenues","Revenue_Change","Profits","Profit_Change", "Assets","Mkt_Value","Symbol"]]

In [210]:
fortune500_data.head()
fortune500_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 19 columns):
Rank                         500 non-null int64
Title                        500 non-null object
Employees                    500 non-null int64
CEO                          500 non-null object
CEO_Title                    500 non-null object
Sector                       500 non-null object
Industry                     500 non-null object
Years_on_Fortune_500_List    500 non-null object
City                         500 non-null object
State                        500 non-null object
Latitude                     500 non-null float64
Longitude                    500 non-null float64
Revenues                     500 non-null float64
Revenue_Change               500 non-null float64
Profits                      500 non-null float64
Profit_Change                500 non-null float64
Assets                       500 non-null float64
Mkt_Value                    500 non-null float64
Symbol                       500 non-null object
dtypes: float64(8), int64(2), object(9)
memory usage: 78.1+ KB

In [211]:
# Writing the data to a CSV file
fortune500_data.to_csv("../fortune500/db/fortune500.csv", index=False)

In [212]:
%%time
# Calculating agregated revenue and profit sector wise
agg_sector["Revenue_Percent"] = 0.0
agg_sector["Profit_Percent"] = 0.0
# Creating more dataframes for sector wise aggregation for revenues and Profits
agg_sector = fortune500_data[["Sector","Industry","Revenues", "Profits"]].groupby(["Sector", "Industry"]).sum().sort_values(by=["Sector", "Industry"]).reset_index()
sector_gross_revenue_profit = fortune500_data[["Sector", "Revenues", "Profits"]].groupby(["Sector"]).sum().sort_values(by=["Sector"]).reset_index()
agg_sector["Profit_Margin"] = agg_sector["Profits"] / agg_sector["Revenues"]

# Viewing the final agg data
for i, row in sector_gross_revenue_profit.iterrows():
    gross_revenue = row["Revenues"]
    gross_profit = row["Profits"]
    sector = row["Sector"]
    mask = agg_sector["Sector"] == sector
    agg_sector.loc[mask, "Revenue_Percent"] = agg_sector.loc[mask, "Revenues"].apply(lambda x: round(x / gross_revenue * 100,2))
    agg_sector.loc[mask, "Profit_Percent"] = agg_sector.loc[mask, "Profits"].apply(lambda x: round(x / gross_profit * 100,2))
    
agg_sector.head()

Wall time: 106 ms

,Sector,Industry,Revenues,Profits,Profit_Margin,Revenue_Percent,Profit_Percent
0,Aerospace & Defense,Aerospace and Defense,352746.0,2485190.0,7.045268,100.00,100.00
1,Apparel,Apparel,68796.0,555390.0,8.072998,100.00,100.00
2,Business Services,"Advertising, marketing",23156.0,166740.0,7.200726,11.06,5.78
3,Business Services,Diversified Outsourcing Services,43889.0,277280.0,6.317756,20.96,9.61
4,Business Services,Financial Data Services,90126.0,1928080.0,21.393161,43.05,66.85

In [213]:
# Writing the aggregate data into CSV's
agg_sector.to_csv("../fortune500/db/sector_industry.csv")

### Creating a Database Connection

#### Connecting to local database

In [214]:
# Connecting to postgreSQL database
DATABASE_URI = f"postgresql://postgres:password@localhost:5432/fortune500_db"

engine = create_engine(DATABASE_URI)

#### Check for tables

In [215]:
engine.table_names()
inspector = inspect(engine)
columns = inspector.get_columns('sector_industry')
for column in columns:
    print(column["name"], column["type"])
inspector.get_table_names()

Sector TEXT
Industry TEXT
Revenues DOUBLE PRECISION
Profits DOUBLE PRECISION
Profit_Margin DOUBLE PRECISION
Revenue_Percent DOUBLE PRECISION
Profit_Percent DOUBLE PRECISION

['sector_industry', 'fortune500']

#### Use pandas to load the converted dataframe into database

In [216]:
# Loading fortune500 data into postgreSQL table
fortune500_data.to_sql(name='fortune500', if_exists='replace', con=engine, index=False)

In [217]:
# Loading aggregated data into tables
agg_sector.to_sql(name='sector_industry', if_exists='replace', con=engine, index=False)