In [93]:
# importing the libraries
import pandas as pd
import re
import numpy as np
import requests
import json
import quandl
import warnings
from sqlalchemy import create_engine, inspect
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func
from config import passwd
warnings.filterwarnings('ignore')

In [94]:
# Reading the fortune1000 data into a Pandas dataframe
original_fortune_data = pd.read_csv("../DataSets/fortune1000-final.csv", encoding = "ISO-8859-1")

# reading the S & P data
s_and_p_data = pd.read_csv("../DataSets/constituents_csv.csv", encoding = "ISO-8859-1")
s_and_p_data = s_and_p_data[["Symbol", "Name"]][:500]

In [95]:
# Finding the size of the data
original_fortune_data.shape

(1000, 19)

In [96]:
# Viewing records
original_fortune_data.head()

,rank,title,Previous Rank,Revenues ($M),Revenue Change,Profits ($M),Profit Change,Assets ($M),Mkt Value as of 3/29/18 ($M),Employees,CEO,CEO Title,Sector,Industry,Years on Fortune 500 List,City,State,Latitude,Longitude
0,1,Walmart,1,"$500,343",3.00%,"$9,862.00",-27.70%,"$204,522","$263,563","2,300,000",C. Douglas McMillon,"President, Chief Executive Officer & Director",Retailing,General Merchandisers,24,Bentonville,AR,36.372854,-94.208817
1,2,Exxon Mobil,4,"$244,363",17.40%,"$19,710.00",151.40%,"$348,691","$316,157","71,200",Darren W. Woods,Chairman & Chief Executive Officer,Energy,Petroleum Refining,24,Irving,TX,32.814018,-96.948894
2,3,Berkshire Hathaway,2,"$242,137",8.30%,"$44,940.00",86.70%,"$702,095","$492,008","377,000",Warren E. Buffett,"Chairman, President & Chief Executive Officer",Financials,Insurance: Property and Casualty (Stock),24,Omaha,NE,41.256537,-95.934503
3,4,Apple,3,"$229,234",6.30%,"$48,351.00",5.80%,"$375,319","$851,318","123,000",Timothy D. Cook,Chairman & Chief Executive Officer,Technology,"Computers, Office Equipment",24,Cupertino,CA,37.322998,-122.032182
4,5,UnitedHealth Group,6,"$201,159",8.80%,"$10,558.00",50.50%,"$139,058","$207,080","260,000",David S. Wichmann,Chairman & Chief Executive Officer,Health Care,Health Care: Insurance and Managed Care,24,Minnetonka,MN,44.921184,-93.468749

In [97]:
original_fortune_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
rank                            1000 non-null int64
title                           1000 non-null object
Previous Rank                   938 non-null object
Revenues ($M)                   1000 non-null object
Revenue Change                  1000 non-null object
Profits ($M)                    1000 non-null object
Profit Change                   1000 non-null object
Assets ($M)                     1000 non-null object
Mkt Value as of 3/29/18 ($M)    1000 non-null object
Employees                       1000 non-null object
CEO                             1000 non-null object
CEO Title                       1000 non-null object
Sector                          1000 non-null object
Industry                        1000 non-null object
Years on Fortune 500 List       1000 non-null object
City                            999 non-null object
State                           1000 non-null object
Latitude                        1000 non-null float64
Longitude                       1000 non-null float64
dtypes: float64(2), int64(1), object(16)
memory usage: 148.6+ KB

In [98]:
# Handling NA values
# finding NA records`
original_fortune_data[original_fortune_data.isnull().any(axis=1)]

,rank,title,Previous Rank,Revenues ($M),Revenue Change,Profits ($M),Profit Change,Assets ($M),Mkt Value as of 3/29/18 ($M),Employees,CEO,CEO Title,Sector,Industry,Years on Fortune 500 List,City,State,Latitude,Longitude
343,344,DCP Midstream,NaN,"$8,462",465.30%,$229.00,-26.60%,"$13,878","$5,033","2,650",Wouter T. van Kempen,"Chairman, President & Chief Executive Officer",Energy,Pipelines,1,Denver,CO,39.739236,-104.990251
373,374,DXC Technology,NaN,"$7,607",7.10%,($123.00),-149.00%,"$8,663","$28,720","60,000",J. Michael Lawrie,"Chairman, President & Chief Executive Officer",Technology,Information Technology Services,1,Tysons,VA,38.918722,-77.231093
401,402,JetBlue Airways,403,"$7,015",5.80%,"$1,147.00",51.10%,"$9,781","$6,540","17,424",Robin Hayes,"President, Chief Executive Officer & Director",Transportation,Airlines,6,NaN,NY,40.744679,-73.948542
419,420,Fortive,NaN,"$6,656",-,"$1,044.50",-,"$10,501","$26,979","26,000",James A. Lico,"President, Chief Executive Officer & Director",Industrials,Industrial Machinery,1,Everett,WA,47.978985,-122.202079
465,466,Conduent,NaN,"$6,022",-,$181.00,-,"$7,548","$3,923","90,000",Ashok Vemuri,Chairman & Chief Executive Officer,Business Services,Diversified Outsourcing Services,1,Florham Park,NJ,40.787878,-74.388207
488,489,Cheniere Energy,NaN,"$5,601",336.50%,($393.00),-,"$27,906","$12,703","1,230",Jack A. Fusco,"President, Chief Executive Officer & Director",Energy,Energy,1,Houston,TX,29.760427,-95.369803
566,567,Schneider National,NaN,"$4,384",8.40%,$389.90,148.60%,"$3,331","$4,610","19,600",Christopher B. Lofgren,"President, Chief Executive Officer & Director",Transportation,"Trucking, Truck Leasing",-,Green Bay,WI,44.513319,-88.013296
577,578,ADT,NaN,"$4,316",46.30%,$342.60,-,"$17,015","$5,941","18,000",Timothy J. Whall,"President, Chief Executive Officer & Director",Business Services,Diversified Outsourcing Services,-,Boca Raton,FL,26.368306,-80.128932
624,625,JELD-WEN Holding,NaN,"$3,764",2.40%,$10.80,-97.10%,"$2,863","$3,257","21,000",Gary S. Michel,Chairman & Interim Chief Executive Officer,Materials,"Building Materials, Glass",-,Charlotte,NC,35.227087,-80.843127
635,636,Antero Resources,NaN,"$3,656",109.50%,$615.10,-,"$15,262","$6,283",593,Paul M. Rady,Chairman & Chief Executive Officer,Energy,"Mining, Crude-Oil Production",-,Denver,CO,39.739236,-104.990251
642,643,Nexeo Solutions,NaN,"$3,637",241.30%,$14.40,-,"$2,254",$960,"2,640",David A. Bradley,"President, Chief Executive Officer & Director",Wholesalers,Wholesalers: Diversified,-,The Woodlands,TX,30.165821,-95.461263
682,683,EQT,NaN,"$3,378",110.00%,"$1,508.50",-,"$29,523","$12,565","2,067",David L. Porges,"Chairman, President & Chief Executive Officer",Energy,Energy,-,Pittsburgh,PA,40.440625,-79.995886
759,760,Hain Celestial Group,NaN,"$2,853",-1.10%,$67.40,42.20%,"$2,931","$3,333","7,825",Irwin D. Simon,"Chairman, President & Chief Executive Officer","Food, Beverages & Tobacco",Food Consumer Products,-,Lake Success,NY,40.770657,-73.717631
761,762,Colony NorthStar,NaN,"$2,842",613.20%,($197.90),-568.00%,"$24,786","$3,038",544,Richard B. Saltzman,"President, Chief Executive Officer & Director",Financials,Real estate,-,Los Angeles,CA,34.052234,-118.243685
763,764,Presidio,NaN,"$2,818",2.80%,$4.40,-,"$2,651","$1,438","2,700",Robert Cagnazzi,"Chairman, President & Chief Executive Officer",Technology,Information Technology Services,-,New York,NY,40.712775,-74.005973
772,773,Park Hotels & Resorts,NaN,"$2,791",-,"$2,625.00",-,"$9,714","$5,435",520,Thomas J. Baltimore Jr.,"Chairman, President & Chief Executive Officer",Financials,Real estate,-,McLean,VA,38.933868,-77.177260
795,796,Syneos Health,NaN,"$2,672",65.90%,($138.50),-222.90%,"$7,286","$3,713","21,000",Alistair MacDonald,Chairman & Chief Executive Officer,Health Care,Health Care: Pharmacy and Other Services,-,Raleigh,NC,35.779590,-78.638179
805,806,Range Resources,NaN,"$2,611",137.40%,$333.10,-,"$11,729","$3,614",773,Jeffrey L. Ventura,"Chairman, President & Chief Executive Officer",Energy,"Mining, Crude-Oil Production",-,Fort Worth,TX,32.755488,-97.330766
812,813,Concho Resources,NaN,"$2,586",58.20%,$956.00,-,"$13,732","$22,409","1,203",Timothy A. Leach,Chairman & Chief Executive Officer,Energy,"Mining, Crude-Oil Production",-,Midland,TX,31.997346,-102.077915
830,831,Vertex Pharmaceuticals,NaN,"$2,489",46.20%,$263.50,-,"$3,546","$41,379","2,300",Jeffrey M. Leiden,"Chairman, President & Chief Executive Officer",Health Care,Pharmaceuticals,-,Boston,MA,42.360083,-71.058880
847,848,Nexstar Media Group,NaN,"$2,432",120.40%,$475.00,418.90%,"$7,482","$3,066","8,737",Perry A. Sook,"Chairman, President & Chief Executive Officer",Media,Entertainment,-,Irving,TX,32.814018,-96.948894
853,854,Gardner Denver,NaN,"$2,375",22.50%,$18.40,-,"$4,621","$6,051","6,400",Vicente Reynal,Chairman & Chief Executive Officer,Industrials,Industrial Machinery,-,Milwaukee,WI,43.038902,-87.906474
859,860,Patterson-UTI Energy,NaN,"$2,357",157.30%,$5.90,-,"$5,759","$3,892","8,000",William A. Hendricks Jr.,"President, Chief Executive Officer & Director",Energy,"Oil and Gas Equipment, Services",-,Houston,TX,29.760427,-95.369803
892,893,PRA Health Sciences,NaN,"$2,259",24.70%,$86.90,27.50%,"$3,358","$5,292","15,800",Colin Shannon,"Chairman, President & Chief Executive Officer",Technology,"Scientific,Photographic and Control Equipment",-,Raleigh,NC,35.779590,-78.638179
899,900,Cboe Global Markets,NaN,"$2,229",217.00%,$401.70,115.00%,"$5,266","$12,860",889,Edward T. Tilly,Chairman & Chief Executive Officer,Financials,Securities,-,Chicago,IL,41.878114,-87.629798
904,905,Kirby,NaN,"$2,214",25.10%,$313.20,121.50%,"$5,127","$4,592","5,775",David W. Grzebinski,"President, Chief Executive Officer & Director",Transportation,Shipping,-,Houston,TX,29.760427,-95.369803
905,906,Square,NaN,"$2,214",29.60%,($62.80),-,"$2,187","$19,501","2,338",Jack Dorsey,"Chairman, President & Chief Executive Officer",Business Services,Financial Data Services,-,SF,CA,37.774929,-122.419415
907,908,Zayo Group Holdings,NaN,"$2,200",27.80%,$85.70,-,"$8,739","$8,474","3,794",Daniel P. Caruso,Chairman & Chief Executive Officer,Telecommunications,Telecommunications,-,Boulder,CO,40.014986,-105.270546
920,921,LCI Industries,NaN,"$2,148",27.90%,$132.90,2.50%,$946,"$2,603","9,852",Jason D. Lippert,Chairman & Chief Executive Officer,Motor Vehicles & Parts,Motor Vehicles and Parts,-,Elkhart,IN,41.681993,-85.976667
924,925,Workday,NaN,"$2,143",36.60%,($321.20),-,"$4,947","$26,947","8,200",Aneel Bhusri,Chief Executive Officer & Director,Technology,Computer Software,-,Pleasanton,CA,37.662431,-121.874679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
934,935,SemGroup,NaN,"$2,082",56.30%,($17.20),-918.60%,"$5,377","$1,692","1,220",Carlin G. Conner,"President, Chief Executive Officer & Director",Energy,Pipelines,-,Tulsa,OK,36.153982,-95.992775
936,937,Quorum Health,NaN,"$2,072",-,($114.20),-,"$1,829",$247,"11,250",Robert H. Fish,"President, Chief Executive Officer & Director",Health Care,Health Care: Medical Facilities,-,Brentwood,TN,36.033116,-86.782777
942,943,Foundation Building Materials,NaN,"$2,061",48.00%,$82.50,-,"$1,354",$639,"3,782",Ruben D. Mendoza,"President, Chief Executive Officer & Director",Wholesalers,Wholesalers: Diversified,-,Tustin,CA,33.742001,-117.823639
949,950,Genesis Energy,NaN,"$2,028",18.40%,$82.60,-27.00%,"$7,138","$2,416","2,100",Grant E. Sims,Chairman & Chief Executive Officer,Energy,Pipelines,-,Houston,TX,29.760427,-95.369803
950,951,SVB Financial Group,NaN,"$2,022",22.60%,$490.50,28.20%,"$51,215","$12,694","2,438",Gregory W. Becker,"President, Chief Executive Officer & Director",Financials,Commercial Banks,-,Santa Clara,CA,37.354108,-121.955236
953,954,California Resources,NaN,"$2,006",29.70%,($266.00),-195.30%,"$6,207",$778,"1,450",Todd A. Stevens,"President, Chief Executive Officer & Director",Energy,"Mining, Crude-Oil Production",-,Los Angeles,CA,34.052234,-118.243685
958,959,Valhi,NaN,"$1,980",23.30%,$207.50,-,"$2,908","$2,055","2,790",Robert D. Graham,"Vice Chairman, President & Chief Executive Of...",Chemicals,Chemicals,-,Dallas,TX,32.776664,-96.796988
960,961,IDEXX Laboratories,NaN,"$1,969",10.90%,$263.10,18.50%,"$1,713","$16,663","7,600",Jonathan W. Ayers,"Chairman, President & Chief Executive Officer",Health Care,Medical Products and Equipment,-,Westbrook,ME,43.677025,-70.371162
963,964,Kraton,NaN,"$1,960",12.40%,$97.50,-9.10%,"$2,933","$1,512","1,931",Kevin M. Fogarty,"President, Chief Executive Officer & Director",Chemicals,Chemicals,-,Houston,TX,29.760427,-95.369803
967,968,ACCO Brands,NaN,"$1,949",25.20%,$131.70,37.90%,"$2,799","$1,353","6,620",Boris Y. Elisman,"Chairman, President & Chief Executive Officer",Household Products,"Home Equipment, Furnishings",-,Lake Zurich,IL,42.196969,-88.093411
968,969,Echo Global Logistics,NaN,"$1,943",13.20%,$12.60,694.10%,$838,$774,"2,453",Douglas R. Waggoner,Chairman & Chief Executive Officer,Transportation,Transportation and Logistics,-,Chicago,IL,41.878114,-87.629798
972,973,TransUnion,NaN,"$1,934",13.40%,$441.20,265.80%,"$5,119","$10,441","5,100",James M. Peck,"President, Chief Executive Officer & Director",Business Services,Financial Data Services,-,Chicago,IL,41.878114,-87.629798
973,974,ServiceNow,NaN,"$1,933",39.00%,($149.10),-,"$3,398","$28,904","6,222",John J. Donahoe,"President, Chief Executive Officer & Director",Technology,Computer Software,-,Santa Clara,CA,37.354108,-121.955236
974,975,Summit Materials,NaN,"$1,933",18.80%,$121.80,231.20%,"$3,787","$3,342","6,000",Thomas W. Hill,"President, Chief Executive Officer & Director",Materials,"Building Materials, Glass",-,Denver,CO,39.739236,-104.990251
977,978,Interactive Brokers Group,NaN,"$1,927",30.60%,$76.00,-9.50%,"$61,162","$4,806","1,228",Thomas P. Peterffy,Chairman & Chief Executive Officer,Financials,Securities,-,Greenwich,CT,41.026242,-73.628196
978,979,Stepan,NaN,"$1,925",9.00%,$91.60,6.30%,"$1,471","$1,875","2,096",F. Quinn Stepan Jr.,"Chairman, President & Chief Executive Officer",Chemicals,Chemicals,-,Northfield,IL,42.099750,-87.780897
980,981,Cimarex Energy,NaN,"$1,918",52.60%,$494.30,-,"$5,043","$8,924",910,Thomas E. Jorden,"Chairman, President & Chief Executive Officer",Energy,"Mining, Crude-Oil Production",-,Denver,CO,39.739236,-104.990251
983,984,MKS Instruments,NaN,"$1,916",47.90%,$339.10,223.60%,"$2,414","$6,307","4,923",Gerald G. Colella,"President, Chief Executive Officer & Director",Technology,Semiconductors and Other Electronic Components,-,Andover,MA,42.658336,-71.136795
984,985,Vail Resorts,NaN,"$1,907",19.10%,$210.60,40.60%,"$4,111","$8,962","20,150",Robert A. Katz,Chairman & Chief Executive Officer,"Hotels, Restaurants & Leisure","Hotels, Casinos, Resorts",-,Broomfield,CO,39.920541,-105.086650
985,986,Ohio National Mutual,NaN,"$1,907",8.20%,$25.90,-91.10%,"$41,843",-,"1,300",Gary T. Huffman,"Chairman, President & Chief Executive Officer",Financials,"Insurance: Life, Health (stock)",-,Cincinnati,OH,39.103118,-84.512020
986,987,TopBuild,NaN,"$1,906",9.40%,$158.10,117.80%,"$1,750","$2,725","8,400",Gerald Volas,Chairman & Chief Executive Officer,Engineering & Construction,"Engineering, Construction",-,Daytona Beach,FL,29.210815,-81.022833
987,988,Brown & Brown,NaN,"$1,881",6.50%,$399.60,55.20%,"$5,748","$7,025","8,491",J. Powell Brown,"President, Chief Executive Officer & Director",Financials,Insurance: Property and Casualty (Stock),-,Daytona Beach,FL,29.210815,-81.022833
988,989,Aerojet Rocketdyne Holdings,NaN,"$1,877",6.60%,($9.20),-151.10%,"$2,259","$2,113","5,157",Eileen P. Drake,"President, Chief Executive Officer & Director",Aerospace & Defense,Aerospace and Defense,-,El Segundo,CA,33.919180,-118.416465
989,990,Barnes & Noble Education,NaN,"$1,874",-,$5.40,-,"$1,300",$323,"13,375",Michael P. Huseby,Chairman & Chief Executive Officer,Retailing,Specialty Retailers: Other,-,Bernards,NJ,40.706617,-74.549328
990,991,Superior Energy Services,NaN,"$1,874",29.20%,($205.90),-,"$3,110","$1,300","6,400",David D. Dunlap,"President, Chief Executive Officer & Director",Energy,"Oil and Gas Equipment, Services",-,Houston,TX,29.760427,-95.369803
992,993,Childrens Place,NaN,"$1,870",4.80%,$84.70,-17.20%,$940,"$2,330","9,800",Jane T. Elfers,"President, Chief Executive Officer & Director",Retailing,Specialty Retailers: Apparel,-,Secaucus,NJ,40.789545,-74.056530
994,995,Healthcare Services Group,NaN,"$1,866",19.40%,$88.20,14.00%,$676,"$3,204","55,000",Theodore Wahl,"President, Chief Executive Officer & Director",Health Care,Health Care: Pharmacy and Other Services,-,Bensalem,PA,40.099443,-74.932568
995,996,SiteOne Landscape Supply,NaN,"$1,862",13.00%,$54.60,78.40%,$911,"$3,084","3,664",Doug Black,Chairman & Chief Executive Officer,Wholesalers,Wholesalers: Diversified,-,Roswell,GA,34.023243,-84.361556
996,997,Charles River Laboratories Intl,NaN,"$1,858",10.50%,$123.40,-20.30%,"$2,930","$5,118","11,800",James C. Foster,Chairman & Chief Executive Officer,Health Care,Health Care: Pharmacy and Other Services,-,Wilmington,MA,42.548171,-71.172447
998,999,Ensign Group,NaN,"$1,849",11.80%,$40.50,-19.00%,"$1,102","$1,354","21,301",Christopher R. Christensen,"President, Chief Executive Officer & Director",Health Care,Health Care: Medical Facilities,-,Mission Viejo,CA,33.596891,-117.658156

In [99]:
# As previous rank is not an import column for our analysis, dropping that column
original_fortune_data = original_fortune_data.drop('Previous Rank', axis=1)
original_fortune_data['City'] = original_fortune_data['City'].replace(np.nan, 'New York', regex=True)
# Converting rank and employees to Integer type
original_fortune_data["rank"] = original_fortune_data["rank"].apply(lambda x: int(x))
original_fortune_data["Employees"] = original_fortune_data["Employees"].apply(lambda x: int(re.sub('[^0-9]', '', x)))

#extracting top 500 rank companies
original_fortune_data = original_fortune_data[original_fortune_data["rank"] < 501]

In [43]:
# Verifying the Null values
original_fortune_data[original_fortune_data.isnull().any(axis=1)]

Empty DataFrame
Columns: [rank, title, Revenues ($M), Revenue Change, Profits ($M), Profit Change, Assets ($M), Mkt Value as of 3/29/18 ($M), Employees, CEO, CEO Title, Sector, Industry, Years on Fortune 500 List, City, State, Latitude, Longitude]
Index: []

In [100]:
%%time
cols_to_be_changed = ["Revenues ($M)","Revenue Change", "Profits ($M)","Profit Change", "Assets ($M)","Mkt Value as of 3/29/18 ($M)"]
new_cols = ["Revenues($M)","Revenue_Change", "Profits($M)","Profit_Change", "Assets($M)","Mkt_Value_as_of_3/29/18_($M)"]
for index,row in original_fortune_data.iterrows():

    for i in range(len(cols_to_be_changed)):
        try:
            original_fortune_data.loc[index,new_cols[i]] = float(re.sub('[^0-9]','',row[cols_to_be_changed[i]]))
        except:
            #print(row[cols_to_be_changed[i]])
            original_fortune_data.loc[index,new_cols[i]] = 0.0


for i in cols_to_be_changed:
    if i in original_fortune_data.columns:
        original_fortune_data = original_fortune_data.drop(i, axis=1)

Wall time: 1.02 s

In [101]:
original_fortune_data.info()
original_fortune_data.head(5)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 18 columns):
rank                            500 non-null int64
title                           500 non-null object
Employees                       500 non-null int64
CEO                             500 non-null object
CEO Title                       500 non-null object
Sector                          500 non-null object
Industry                        500 non-null object
Years on Fortune 500 List       500 non-null object
City                            500 non-null object
State                           500 non-null object
Latitude                        500 non-null float64
Longitude                       500 non-null float64
Revenues($M)                    500 non-null float64
Revenue_Change                  500 non-null float64
Profits($M)                     500 non-null float64
Profit_Change                   500 non-null float64
Assets($M)                      500 non-null float64
Mkt_Value_as_of_3/29/18_($M)    500 non-null float64
dtypes: float64(8), int64(2), object(8)
memory usage: 94.2+ KB

,rank,title,Employees,CEO,CEO Title,Sector,Industry,Years on Fortune 500 List,City,State,Latitude,Longitude,Revenues($M),Revenue_Change,Profits($M),Profit_Change,Assets($M),Mkt_Value_as_of_3/29/18_($M)
0,1,Walmart,2300000,C. Douglas McMillon,"President, Chief Executive Officer & Director",Retailing,General Merchandisers,24,Bentonville,AR,36.372854,-94.208817,500343.0,300.0,986200.0,2770.0,204522.0,263563.0
1,2,Exxon Mobil,71200,Darren W. Woods,Chairman & Chief Executive Officer,Energy,Petroleum Refining,24,Irving,TX,32.814018,-96.948894,244363.0,1740.0,1971000.0,15140.0,348691.0,316157.0
2,3,Berkshire Hathaway,377000,Warren E. Buffett,"Chairman, President & Chief Executive Officer",Financials,Insurance: Property and Casualty (Stock),24,Omaha,NE,41.256537,-95.934503,242137.0,830.0,4494000.0,8670.0,702095.0,492008.0
3,4,Apple,123000,Timothy D. Cook,Chairman & Chief Executive Officer,Technology,"Computers, Office Equipment",24,Cupertino,CA,37.322998,-122.032182,229234.0,630.0,4835100.0,580.0,375319.0,851318.0
4,5,UnitedHealth Group,260000,David S. Wichmann,Chairman & Chief Executive Officer,Health Care,Health Care: Insurance and Managed Care,24,Minnetonka,MN,44.921184,-93.468749,201159.0,880.0,1055800.0,5050.0,139058.0,207080.0

In [102]:
s_and_p_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
Symbol    500 non-null object
Name      500 non-null object
dtypes: object(2)
memory usage: 7.9+ KB

In [103]:
# Cleaning up common fields for comparing
original_fortune_data['title'] = original_fortune_data['title'].apply(lambda x: re.sub('[\-]','',x.lower()))
s_and_p_data['Name'] = s_and_p_data['Name'].apply(lambda x: re.sub('[\-]','',x.lower()))
original_fortune_data = original_fortune_data.sort_values(by=['title'])
s_and_p_data = s_and_p_data.sort_values(by=['Name'])

In [104]:
# Merging data
# merged_fortune_data = pd.merge_asof(original_fortune_data, s_and_p_data, left_on = 'title', right_on = 'Name')

In [105]:
%%time
#Sorting both datasets and 
original_fortune_data['Symbol'] = ""
original_fortune_data = original_fortune_data.sort_values(by=['title'])
s_and_p_data = s_and_p_data.sort_values(by=['Name'])
for i,row1 in original_fortune_data.iterrows():
    o_title = re.sub('[\-]','',row1['title'].lower())
    for j,row2 in s_and_p_data.iterrows():
        s_title = re.sub('[\-]','',row2['Name'].lower())
        s_Symbol = row2['Symbol']
        if re.match(o_title,s_title):
                print(f"{o_title} {s_title} {s_Symbol}")
                original_fortune_data.loc[i,"Symbol"] = s_Symbol

    
#original_fortune_data['new_title'] = original_fortune_data['title'].apply(lambda x: difflib.get_close_matches(x.split()[0], s_and_p_data['Name']))
#merged_fortune_data = original_fortune_data.join(s_and_p_data)

3m 3m company MMM
abbott laboratories abbott laboratories ABT
abbvie abbvie inc. ABBV
activision blizzard activision blizzard ATVI
adobe systems adobe systems inc ADBE
advance auto parts advance auto parts AAP
aes aes corp AES
aetna aetna inc AET
aflac aflac inc AFL
air products & chemicals air products & chemicals inc APD
alaska air group alaska air group inc ALK
alliance data systems alliance data systems ADS
allstate allstate corp ALL
alphabet alphabet inc class a GOOGL
alphabet alphabet inc class c GOOG
altria group altria group inc MO
amazon.com amazon.com inc. AMZN
ameren ameren corp AEE
american airlines group american airlines group AAL
american electric power american electric power AEP
american express american express co AXP
american tower american tower corp a AMT
ameriprise financial ameriprise financial AMP
amerisourcebergen amerisourcebergen corp ABC
amgen amgen inc. AMGN
amphenol amphenol corp APH
anadarko petroleum anadarko petroleum corp APC
andeavor andeavor ANDV
anthem anthem inc. ANTM
apache apache corporation APA
apple apple inc. AAPL
applied materials applied materials inc. AMAT
arconic arconic inc. ARNC
arthur j. gallagher arthur j. gallagher & co. AJG
assurant assurant inc. AIZ
at&t at&t inc. T
autozone autozone inc AZO
avery dennison avery dennison corp AVY
ball ball corp BLL
baxter international baxter international inc. BAX
becton dickinson becton dickinson BDX
berkshire hathaway berkshire hathaway BRK.B
best buy best buy co. inc. BBY
biogen biogen inc. BIIB
blackrock blackrock BLK
boeing boeing company BA
booking holdings booking holdings inc BKNG
borgwarner borgwarner BWA
boston scientific boston scientific BSX
bristolmyers squibb bristolmyers squibb BMY
campbell soup campbell soup CPB
capital one financial capital one financial COF
cardinal health cardinal health inc. CAH
carmax carmax inc KMX
caterpillar caterpillar inc. CAT
cbre group cbre group CBRE
cbs cbs corp. CBS
celgene celgene corp. CELG
centene centene corporation CNC
centerpoint energy centerpoint energy CNP
centurylink centurylink inc CTL
charles schwab charles schwab corporation SCHW
charter communications charter communications CHTR
chevron chevron corp. CVX
cigna cigna corp. CI
cincinnati financial cincinnati financial CINF
cintas cintas corporation CTAS
cisco systems cisco systems CSCO
citigroup citigroup inc. C
citizens financial group citizens financial group CFG
cms energy cms energy CMS
cocacola cocacola company (the) KO
cognizant technology solutions cognizant technology solutions CTSH
colgatepalmolive colgatepalmolive CL
comcast comcast corp. CMCSA
conagra brands conagra brands CAG
conocophillips conocophillips COP
consolidated edison consolidated edison ED
constellation brands constellation brands STZ
corning corning inc. GLW
costco costco wholesale corp. COST
coty coty, inc COTY
csx csx corp. CSX
cummins cummins inc. CMI
cvs health cvs health CVS
dana danaher corp. DHR
danaher danaher corp. DHR
darden restaurants darden restaurants DRI
davita davita inc. DVA
deere deere & co. DE
delta air lines delta air lines inc. DAL
devon energy devon energy corp. DVN
discover financial services discover financial services DFS
discovery discovery inc. class a DISCA
discovery discovery inc. class c DISCK
dish network dish network DISH
dollar general dollar general DG
dollar tree dollar tree DLTR
dominion energy dominion energy D
dover dover corp. DOV
dowdupont dowdupont DWDP
dr pepper snapple group dr pepper snapple group DPS
dte energy dte energy co. DTE
duke energy duke energy DUK
dxc technology dxc technology DXC
eastman chemical eastman chemical EMN
ebay ebay inc. EBAY
ecolab ecolab inc. ECL
emerson electric emerson electric company EMR
entergy entergy corp. ETR
envision healthcare envision healthcare EVHC
eog resources eog resources EOG
estee lauder estee lauder cos. EL
eversource energy eversource energy ES
exelon exelon corp. EXC
exxon mobil exxon mobil corp. XOM
facebook facebook, inc. FB
fedex fedex corporation FDX
fidelity national information services fidelity national information services FIS
fifth third bancorp fifth third bancorp FITB
firstenergy firstenergy corp FE
fiserv fiserv inc FISV
fluor fluor corp. FLR
foot locker foot locker inc FL
ford motor ford motor F
fortive fortive corp FTV
franklin resources franklin resources BEN
freeportmcmoran freeportmcmoran inc. FCX
gap gap inc. GPS
general dynamics general dynamics GD
general electric general electric GE
general mills general mills GIS
general motors general motors GM
genuine parts genuine parts GPC
gilead sciences gilead sciences GILD
goldman sachs group goldman sachs group GS
goodyear tire & rubber goodyear tire & rubber GT
halliburton halliburton co. HAL
hanesbrands hanesbrands inc HBI
harleydavidson harleydavidson HOG
harris harris corporation HRS
henry schein henry schein HSIC
hewlett packard enterprise hewlett packard enterprise HPE
hilton worldwide holdings hilton worldwide holdings inc HLT
home depot home depot HD
hormel foods hormel foods corp. HRL
hp hp inc. HPQ
humana humana inc. HUM
huntington ingalls industries huntington ingalls industries HII
illinois tool works illinois tool works ITW
intel intel corp. INTC
intercontinental exchange intercontinental exchange ICE
international paper international paper IP
interpublic group interpublic group IPG
iqvia holdings iqvia holdings inc. IQV
jacobs engineering group jacobs engineering group JEC
johnson & johnson johnson & johnson JNJ
jpmorgan chase jpmorgan chase & co. JPM
kellogg kellogg co. K
keycorp keycorp KEY
kimberlyclark kimberlyclark KMB
kinder morgan kinder morgan KMI
kraft heinz kraft heinz co KHC
kroger kroger co. KR
l brands l brands inc. LB
laboratory corp. of america laboratory corp. of america holding LH
lam research lam research LRCX
lennar lennar corp. LEN
lincoln national lincoln national LNC
lkq lkq corporation LKQ
lockheed martin lockheed martin corp. LMT
loews loews corp. L
marathon petroleum marathon petroleum MPC
marsh & mclennan marsh & mclennan MMC
masco masco corp. MAS
mastercard mastercard inc. MA
mckesson mckesson corp. MCK
merck merck & co. MRK
metlife metlife inc. MET
mgm resorts international mgm resorts international MGM
micron technology micron technology MU
microsoft microsoft corp. MSFT
mohawk industries mohawk industries MHK
molson coors brewing molson coors brewing company TAP
mondelez international mondelez international MDLZ
monsanto monsanto co. MON
morgan stanley morgan stanley MS
motorola solutions motorola solutions inc. MSI
national oilwell varco national oilwell varco inc. NOV
netapp netapp NTAP
netflix netflix inc. NFLX
newell brands newell brands NWL
newmont mining newmont mining corporation NEM
news corp. news corp. class a NWSA
news corp. news corp. class b NWS
nextera energy nextera energy NEE
nike nike NKE
nordstrom nordstrom JWN
norfolk southern norfolk southern corp. NSC
northern trust northern trust corp. NTRS
northrop grumman northrop grumman corp. NOC
nrg energy nrg energy NRG
nucor nucor corp. NUE
nvidia nvidia corporation NVDA
occidental petroleum occidental petroleum OXY
omnicom group omnicom group OMC
oneok oneok OKE
oracle oracle corp. ORCL
paccar paccar inc. PCAR
parkerhannifin parkerhannifin PH
pepsico pepsico inc. PEP
pfizer pfizer inc. PFE
philip morris international philip morris international PM
phillips 66 phillips 66 PSX
pioneer natural resources pioneer natural resources PXD
pnc financial services pnc financial services PNC
ppg industries ppg industries PPG
ppl ppl corp. PPL
praxair praxair inc. PX
principal financial principal financial group PFG
procter & gamble procter & gamble PG
progressive progressive corp. PGR
prudential financial prudential financial PRU
pvh pvh corp. PVH
qualcomm qualcomm inc. QCOM
quanta services quanta services inc. PWR
quest diagnostics quest diagnostics DGX
raymond james financial raymond james financial inc. RJF
raytheon raytheon co. RTN
regions financial regions financial corp. RF
republic services republic services inc RSG
rockwell automation rockwell automation inc. ROK
rockwell collins rockwell collins COL
ross stores ross stores ROST
salesforce.com salesforce.com CRM
sealed air sealed air SEE
sempra energy sempra energy SRE
sherwinwilliams sherwinwilliams SHW
simon property group simon property group inc SPG
southern southern co. SO

southwest airlines southwest airlines LUV
stanley black & decker stanley black & decker SWK
starbucks starbucks corp. SBUX
state street corp. state street corp. STT
stryker stryker corp. SYK
suntrust banks suntrust banks STI
synchrony financial synchrony financial SYF
sysco sysco corp. SYY
target target corp. TGT
texas instruments texas instruments TXN
textron textron inc. TXT
thermo fisher scientific thermo fisher scientific TMO
time warner time warner inc. TWX
tjx tjx companies inc. TJX
tractor supply tractor supply company TSCO
twentyfirst century fox twentyfirst century fox class a FOXA
twentyfirst century fox twentyfirst century fox class b FOX
tyson foods tyson foods TSN
u.s. bancorp u.s. bancorp USB
ulta beauty ulta beauty ULTA
union pacific union pacific UNP
united continental holdings united continental holdings UAL
united rentals united rentals, inc. URI
united technologies united technologies UTX
universal health services universal health services, inc. UHS
unum group unum group UNM
valero energy valero energy VLO
verizon verizon communications VZ
viacom viacom inc. VIAB
visa visa inc. V
walgreens boots alliance walgreens boots alliance WBA
walmart walmart stores WMT
waste management waste management inc. WM
wec energy group wec energy group inc WEC
wells fargo wells fargo WFC
western digital western digital WDC
western union western union co WU
westrock westrock company WRK
weyerhaeuser weyerhaeuser corp. WY
whirlpool whirlpool corp. WHR
williams williams cos. WMB
wynn resorts wynn resorts ltd WYNN
xcel energy xcel energy inc XEL
xerox xerox corp. XRX
Wall time: 27.6 s

In [106]:
# Viewing the data
original_fortune_data[original_fortune_data["Symbol"] == ""].count()

rank                            220
title                           220
Employees                       220
CEO                             220
CEO Title                       220
Sector                          220
Industry                        220
Years on Fortune 500 List       220
City                            220
State                           220
Latitude                        220
Longitude                       220
Revenues($M)                    220
Revenue_Change                  220
Profits($M)                     220
Profit_Change                   220
Assets($M)                      220
Mkt_Value_as_of_3/29/18_($M)    220
Symbol                          220
dtype: int64

#Getting data from API for 2018
apiKey = '4CVJgYzyLyypcSqr9Ckc'
quandl.ApiConfig.api_key = apiKey
url = f"https://www.quandl.com/api/v3/datasets/WIKI/${stock}.json?start_date=2018-01-01&end_date=2018-12-01&api_key={apiKey}"
try:
    response = requests.get(url).json()
    print(response)
except Exception as e:
    print(e)

In [107]:
# Re-sort to rank
original_fortune_data = original_fortune_data.sort_values(by="rank")
# Coverting title to Title case
original_fortune_data['title'] = original_fortune_data['title'].apply(lambda x: x.title())
# Re-naming and re-arranging the columns
original_fortune_data.columns = ["Rank", "Title","Employees","CEO", "CEO Title", "Sector", "Industry", "Years_on_Fortune_500_List", "City", "State", "Latitude", "Longitude","Revenues","Revenue_Change","Profits","Profit_Change", "Assets","Mkt_Value_as_of_3/29/18","Symbol"]
fortune500_data = original_fortune_data[["Rank", "Title","Employees","CEO", "CEO Title", "Sector", "Industry", "Years_on_Fortune_500_List", "City", "State", "Latitude", "Longitude","Revenues","Revenue_Change","Profits","Profit_Change", "Assets","Mkt_Value_as_of_3/29/18","Symbol"]]

In [108]:
fortune500_data.head()
fortune500_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 19 columns):
Rank                         500 non-null int64
Title                        500 non-null object
Employees                    500 non-null int64
CEO                          500 non-null object
CEO Title                    500 non-null object
Sector                       500 non-null object
Industry                     500 non-null object
Years_on_Fortune_500_List    500 non-null object
City                         500 non-null object
State                        500 non-null object
Latitude                     500 non-null float64
Longitude                    500 non-null float64
Revenues                     500 non-null float64
Revenue_Change               500 non-null float64
Profits                      500 non-null float64
Profit_Change                500 non-null float64
Assets                       500 non-null float64
Mkt_Value_as_of_3/29/18      500 non-null float64
Symbol                       500 non-null object
dtypes: float64(8), int64(2), object(9)
memory usage: 78.1+ KB

In [109]:
# Writing the data to a CSV file
fortune500_data.to_csv("../fortune500/db/fortune500.csv", index=False)

In [151]:
%%time
# Calculating agregated revenue and profit sector wise
agg_sector["Revenue_Percent"] = 0.0
agg_sector["Profit_Percent"] = 0.0
# Creating more dataframes for sector wise aggregation for revenues and Profits
agg_sector = fortune500_data[["Sector","Industry","Revenues", "Profits"]].groupby(["Sector", "Industry"]).sum().sort_values(by=["Sector", "Industry"]).reset_index()
sector_gross_revenue_profit = fortune500_data[["Sector", "Revenues", "Profits"]].groupby(["Sector"]).sum().sort_values(by=["Sector"]).reset_index()
agg_sector["Profit_Margin"] = agg_sector["Profits"] / agg_sector["Revenues"]

# Viewing the final agg data
for i, row in sector_gross_revenue_profit.iterrows():
    gross_revenue = row["Revenues"]
    gross_profit = row["Profits"]
    sector = row["Sector"]
    mask = agg_sector["Sector"] == sector
    agg_sector.loc[mask, "Revenue_Percent"] = agg_sector.loc[mask, "Revenues"].apply(lambda x: round(x / gross_revenue * 100,2))
    agg_sector.loc[mask, "Profit_Percent"] = agg_sector.loc[mask, "Profits"].apply(lambda x: round(x / gross_profit * 100,2))
    
agg_sector.head()

Wall time: 106 ms

,Sector,Industry,Revenues,Profits,Profit_Margin,Revenue_Percent,Profit_Percent
0,Aerospace & Defense,Aerospace and Defense,352746.0,2485190.0,7.045268,100.00,100.00
1,Apparel,Apparel,68796.0,555390.0,8.072998,100.00,100.00
2,Business Services,"Advertising, marketing",23156.0,166740.0,7.200726,11.06,5.78
3,Business Services,Diversified Outsourcing Services,43889.0,277280.0,6.317756,20.96,9.61
4,Business Services,Financial Data Services,90126.0,1928080.0,21.393161,43.05,66.85

In [152]:
# Writing the aggregate data into CSV's
agg_sector.to_csv("../fortune500/db/sector_industry.csv")

### Creating a Database Connection

#### Connecting to local database

In [158]:
# Connecting to postgreSQL database
DATABASE_URI = f"postgresql://postgres:{passwd}@localhost:5432/fortune500_db"

engine = create_engine(DATABASE_URI)

#### Check for tables

In [154]:
engine.table_names()
inspector = inspect(engine)
columns = inspector.get_columns('sector_industry')
for column in columns:
    print(column["name"], column["type"])
inspector.get_table_names()

Sector VARCHAR
Industry VARCHAR
Revenues NUMERIC
Profits NUMERIC
Profit_Margin NUMERIC

['fortune500', 'sector_industry']

#### Use pandas to load the converted dataframe into database

In [156]:
# Loading fortune500 data into postgreSQL table
fortune500_data.to_sql(name='fortune500', if_exists='replace', con=engine, index=False)

In [157]:
# Loading aggregated data into tables
agg_sector.to_sql(name='sector_industry', if_exists='replace', con=engine, index=False)