In [1]:
# importing the libraries
import pandas as pd
import re
import numpy as np
import requests
import json
import quandl
import warnings
from sqlalchemy import create_engine, inspect
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func
from config import passwd
warnings.filterwarnings('ignore')

In [2]:
# Reading the fortune1000 data into a Pandas dataframe
original_fortune_data = pd.read_csv("../DataSets/fortune1000-final.csv", encoding = "ISO-8859-1")

# reading the S & P data
s_and_p_data = pd.read_csv("../DataSets/constituents_csv.csv", encoding = "ISO-8859-1")
s_and_p_data = s_and_p_data[["Symbol", "Name"]][:500]
s_and_p_data.head()

  Symbol                 Name
0    MMM           3M Company
1    AOS      A.O. Smith Corp
2    ABT  Abbott Laboratories
3   ABBV          AbbVie Inc.
4    ACN        Accenture plc

In [3]:
# Finding the size of the data
original_fortune_data.shape

(1000, 19)

In [4]:
# Viewing records
original_fortune_data.head()

,rank,title,Previous Rank,Revenues ($M),Revenue Change,Profits ($M),Profit Change,Assets ($M),Mkt Value as of 3/29/18 ($M),Employees,CEO,CEO Title,Sector,Industry,Years on Fortune 500 List,City,State,Latitude,Longitude
0,1,Walmart,1,"$500,343",3.00%,"$9,862.00",-27.70%,"$204,522","$263,563","2,300,000",C. Douglas McMillon,"President, Chief Executive Officer & Director",Retailing,General Merchandisers,24,Bentonville,AR,36.372854,-94.208817
1,2,Exxon Mobil,4,"$244,363",17.40%,"$19,710.00",151.40%,"$348,691","$316,157","71,200",Darren W. Woods,Chairman & Chief Executive Officer,Energy,Petroleum Refining,24,Irving,TX,32.814018,-96.948894
2,3,Berkshire Hathaway,2,"$242,137",8.30%,"$44,940.00",86.70%,"$702,095","$492,008","377,000",Warren E. Buffett,"Chairman, President & Chief Executive Officer",Financials,Insurance: Property and Casualty (Stock),24,Omaha,NE,41.256537,-95.934503
3,4,Apple,3,"$229,234",6.30%,"$48,351.00",5.80%,"$375,319","$851,318","123,000",Timothy D. Cook,Chairman & Chief Executive Officer,Technology,"Computers, Office Equipment",24,Cupertino,CA,37.322998,-122.032182
4,5,UnitedHealth Group,6,"$201,159",8.80%,"$10,558.00",50.50%,"$139,058","$207,080","260,000",David S. Wichmann,Chairman & Chief Executive Officer,Health Care,Health Care: Insurance and Managed Care,24,Minnetonka,MN,44.921184,-93.468749

In [5]:
original_fortune_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
rank                            1000 non-null int64
title                           1000 non-null object
Previous Rank                   938 non-null object
Revenues ($M)                   1000 non-null object
Revenue Change                  1000 non-null object
Profits ($M)                    1000 non-null object
Profit Change                   1000 non-null object
Assets ($M)                     1000 non-null object
Mkt Value as of 3/29/18 ($M)    1000 non-null object
Employees                       1000 non-null object
CEO                             1000 non-null object
CEO Title                       1000 non-null object
Sector                          1000 non-null object
Industry                        1000 non-null object
Years on Fortune 500 List       1000 non-null object
City                            999 non-null object
State                           1000 non-null object
Latitude                        1000 non-null float64
Longitude                       1000 non-null float64
dtypes: float64(2), int64(1), object(16)
memory usage: 148.5+ KB

In [6]:
# Handling NA values
# finding NA records`
original_fortune_data[original_fortune_data.isnull().any(axis=1)].head()

,rank,title,Previous Rank,Revenues ($M),Revenue Change,Profits ($M),Profit Change,Assets ($M),Mkt Value as of 3/29/18 ($M),Employees,CEO,CEO Title,Sector,Industry,Years on Fortune 500 List,City,State,Latitude,Longitude
343,344,DCP Midstream,NaN,"$8,462",465.30%,$229.00,-26.60%,"$13,878","$5,033","2,650",Wouter T. van Kempen,"Chairman, President & Chief Executive Officer",Energy,Pipelines,1,Denver,CO,39.739236,-104.990251
373,374,DXC Technology,NaN,"$7,607",7.10%,($123.00),-149.00%,"$8,663","$28,720","60,000",J. Michael Lawrie,"Chairman, President & Chief Executive Officer",Technology,Information Technology Services,1,Tysons,VA,38.918722,-77.231093
401,402,JetBlue Airways,403,"$7,015",5.80%,"$1,147.00",51.10%,"$9,781","$6,540","17,424",Robin Hayes,"President, Chief Executive Officer & Director",Transportation,Airlines,6,NaN,NY,40.744679,-73.948542
419,420,Fortive,NaN,"$6,656",-,"$1,044.50",-,"$10,501","$26,979","26,000",James A. Lico,"President, Chief Executive Officer & Director",Industrials,Industrial Machinery,1,Everett,WA,47.978985,-122.202079
465,466,Conduent,NaN,"$6,022",-,$181.00,-,"$7,548","$3,923","90,000",Ashok Vemuri,Chairman & Chief Executive Officer,Business Services,Diversified Outsourcing Services,1,Florham Park,NJ,40.787878,-74.388207

In [7]:
# As previous rank is not an import column for our analysis, dropping that column
original_fortune_data = original_fortune_data.drop('Previous Rank', axis=1)
original_fortune_data['City'] = original_fortune_data['City'].replace(np.nan, 'New York', regex=True)
# Converting rank and employees to Integer type
original_fortune_data["rank"] = original_fortune_data["rank"].apply(lambda x: int(x))
original_fortune_data["Employees"] = original_fortune_data["Employees"].apply(lambda x: int(re.sub('[^0-9]', '', x)))

#extracting top 500 rank companies
original_fortune_data = original_fortune_data[original_fortune_data["rank"] < 501]

In [8]:
# Verifying the Null values
original_fortune_data[original_fortune_data.isnull().any(axis=1)]

Empty DataFrame
Columns: [rank, title, Revenues ($M), Revenue Change, Profits ($M), Profit Change, Assets ($M), Mkt Value as of 3/29/18 ($M), Employees, CEO, CEO Title, Sector, Industry, Years on Fortune 500 List, City, State, Latitude, Longitude]
Index: []

In [15]:
%%time
cols_to_be_changed = ["Revenues ($M)","Revenue Change", "Profits ($M)","Profit Change", "Assets ($M)","Mkt Value as of 3/29/18 ($M)"]
new_cols = ["Revenues($M)","Revenue_Change", "Profits($M)","Profit_Change", "Assets($M)","Mkt_Value_as_of_3/29/18_($M)"]
for index,row in original_fortune_data.iterrows():

    for i in range(len(cols_to_be_changed)):
        try:
            original_fortune_data.loc[index,new_cols[i]] = float(re.sub('[^0-9]','',row[cols_to_be_changed[i]]))
        except:
            #print(row[cols_to_be_changed[i]])
            original_fortune_data.loc[index,new_cols[i]] = 0.0


for i in cols_to_be_changed:
    if i in original_fortune_data.columns:
        original_fortune_data = original_fortune_data.drop(i, axis=1)

Wall time: 968 ms

In [10]:
original_fortune_data.info()
original_fortune_data.head(5)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 24 columns):
rank                            500 non-null int64
title                           500 non-null object
Revenues ($M)                   500 non-null object
Revenue Change                  500 non-null object
Profits ($M)                    500 non-null object
Profit Change                   500 non-null object
Assets ($M)                     500 non-null object
Mkt Value as of 3/29/18 ($M)    500 non-null object
Employees                       500 non-null int64
CEO                             500 non-null object
CEO Title                       500 non-null object
Sector                          500 non-null object
Industry                        500 non-null object
Years on Fortune 500 List       500 non-null object
City                            500 non-null object
State                           500 non-null object
Latitude                        500 non-null float64
Longitude                       500 non-null float64
Revenues($M)                    500 non-null float64
Revenue_Change                  500 non-null float64
Profits($M)                     500 non-null float64
Profit_Change                   500 non-null float64
Assets($M)                      500 non-null float64
Mkt_Value_as_of_3/29/18_($M)    500 non-null float64
dtypes: float64(8), int64(2), object(14)
memory usage: 117.7+ KB

,rank,title,Revenues ($M),Revenue Change,Profits ($M),Profit Change,Assets ($M),Mkt Value as of 3/29/18 ($M),Employees,CEO,...,City,State,Latitude,Longitude,Revenues($M),Revenue_Change,Profits($M),Profit_Change,Assets($M),Mkt_Value_as_of_3/29/18_($M)
0,1,Walmart,"$500,343",3.00%,"$9,862.00",-27.70%,"$204,522","$263,563",2300000,C. Douglas McMillon,...,Bentonville,AR,36.372854,-94.208817,500343.0,300.0,986200.0,2770.0,204522.0,263563.0
1,2,Exxon Mobil,"$244,363",17.40%,"$19,710.00",151.40%,"$348,691","$316,157",71200,Darren W. Woods,...,Irving,TX,32.814018,-96.948894,244363.0,1740.0,1971000.0,15140.0,348691.0,316157.0
2,3,Berkshire Hathaway,"$242,137",8.30%,"$44,940.00",86.70%,"$702,095","$492,008",377000,Warren E. Buffett,...,Omaha,NE,41.256537,-95.934503,242137.0,830.0,4494000.0,8670.0,702095.0,492008.0
3,4,Apple,"$229,234",6.30%,"$48,351.00",5.80%,"$375,319","$851,318",123000,Timothy D. Cook,...,Cupertino,CA,37.322998,-122.032182,229234.0,630.0,4835100.0,580.0,375319.0,851318.0
4,5,UnitedHealth Group,"$201,159",8.80%,"$10,558.00",50.50%,"$139,058","$207,080",260000,David S. Wichmann,...,Minnetonka,MN,44.921184,-93.468749,201159.0,880.0,1055800.0,5050.0,139058.0,207080.0

In [11]:
s_and_p_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
Symbol    500 non-null object
Name      500 non-null object
dtypes: object(2)
memory usage: 7.9+ KB

In [12]:
# Cleaning up common fields for comparing
original_fortune_data['title'] = original_fortune_data['title'].apply(lambda x: re.sub('[\-]','',x.lower()))
s_and_p_data['Name'] = s_and_p_data['Name'].apply(lambda x: re.sub('[\-]','',x.lower()))
original_fortune_data = original_fortune_data.sort_values(by=['title'])
s_and_p_data = s_and_p_data.sort_values(by=['Name'])

In [30]:
# Merging data
# merged_fortune_data = pd.merge_asof(original_fortune_data, s_and_p_data, left_on = 'title', right_on = 'Name')

In [13]:
%%time
#Sorting both datasets and 
original_fortune_data['Symbol'] = ""
original_fortune_data = original_fortune_data.sort_values(by=['title'])
s_and_p_data = s_and_p_data.sort_values(by=['Name'])
for i,row1 in original_fortune_data.iterrows():
    o_title = re.sub('[\-]','',row1['title'].lower())
    for j,row2 in s_and_p_data.iterrows():
        s_title = re.sub('[\-]','',row2['Name'].lower())
        s_Symbol = row2['Symbol']
        if re.match(o_title,s_title):
#                 print(f"{o_title} {s_title} {s_Symbol}")
                original_fortune_data.loc[i,"Symbol"] = s_Symbol

    
#original_fortune_data['new_title'] = original_fortune_data['title'].apply(lambda x: difflib.get_close_matches(x.split()[0], s_and_p_data['Name']))
#merged_fortune_data = original_fortune_data.join(s_and_p_data)

Wall time: 19.5 s

In [14]:
# Viewing the data
original_fortune_data[original_fortune_data["Symbol"] == ""].count()

rank                            500
title                           500
Revenues ($M)                   500
Revenue Change                  500
Profits ($M)                    500
Profit Change                   500
Assets ($M)                     500
Mkt Value as of 3/29/18 ($M)    500
Employees                       500
CEO                             500
CEO Title                       500
Sector                          500
Industry                        500
Years on Fortune 500 List       500
City                            500
State                           500
Latitude                        500
Longitude                       500
Revenues($M)                    500
Revenue_Change                  500
Profits($M)                     500
Profit_Change                   500
Assets($M)                      500
Mkt_Value_as_of_3/29/18_($M)    500
Symbol                          500
dtype: int64

#Getting data from API for 2018
apiKey = '4CVJgYzyLyypcSqr9Ckc'
quandl.ApiConfig.api_key = apiKey
url = f"https://www.quandl.com/api/v3/datasets/WIKI/${stock}.json?start_date=2018-01-01&end_date=2018-12-01&api_key={apiKey}"
try:
    response = requests.get(url).json()
    print(response)
except Exception as e:
    print(e)

In [38]:
# Re-sort to rank
original_fortune_data = original_fortune_data.sort_values(by="rank")
# Coverting title to Title case
original_fortune_data['title'] = original_fortune_data['title'].apply(lambda x: x.title())
# Re-naming and re-arranging the columns
original_fortune_data.columns = ["Rank", "Title","Employees","CEO", "CEO_Title", "Sector", "Industry", "Years_on_Fortune_500_List", "City", "State", "Latitude", "Longitude","Revenues","Revenue_Change","Profits","Profit_Change", "Assets","Mkt_Value","Symbol"]
fortune500_data = original_fortune_data[["Rank", "Title","Employees","CEO", "CEO_Title", "Sector", "Industry", "Years_on_Fortune_500_List", "City", "State", "Latitude", "Longitude","Revenues","Revenue_Change","Profits","Profit_Change", "Assets","Mkt_Value","Symbol"]]

ValueError: Length mismatch: Expected axis has 25 elements, new values have 19 elements

In [37]:
original_fortune_data
# fortune500_data.info()

,rank,title,Revenues ($M),Revenue Change,Profits ($M),Profit Change,Assets ($M),Mkt Value as of 3/29/18 ($M),Employees,CEO,...,State,Latitude,Longitude,Revenues($M),Revenue_Change,Profits($M),Profit_Change,Assets($M),Mkt_Value_as_of_3/29/18_($M),Symbol
0,1,Walmart,"$500,343",3.00%,"$9,862.00",-27.70%,"$204,522","$263,563",2300000,C. Douglas McMillon,...,AR,36.372854,-94.208817,500343.0,300.0,986200.0,2770.0,204522.0,263563.0,
1,2,Exxon Mobil,"$244,363",17.40%,"$19,710.00",151.40%,"$348,691","$316,157",71200,Darren W. Woods,...,TX,32.814018,-96.948894,244363.0,1740.0,1971000.0,15140.0,348691.0,316157.0,
2,3,Berkshire Hathaway,"$242,137",8.30%,"$44,940.00",86.70%,"$702,095","$492,008",377000,Warren E. Buffett,...,NE,41.256537,-95.934503,242137.0,830.0,4494000.0,8670.0,702095.0,492008.0,
3,4,Apple,"$229,234",6.30%,"$48,351.00",5.80%,"$375,319","$851,318",123000,Timothy D. Cook,...,CA,37.322998,-122.032182,229234.0,630.0,4835100.0,580.0,375319.0,851318.0,
4,5,Unitedhealth Group,"$201,159",8.80%,"$10,558.00",50.50%,"$139,058","$207,080",260000,David S. Wichmann,...,MN,44.921184,-93.468749,201159.0,880.0,1055800.0,5050.0,139058.0,207080.0,
5,6,Mckesson,"$198,533",3.10%,"$5,070.00",124.50%,"$60,969","$29,067",64500,John H. Hammergren,...,CA,37.774929,-122.419415,198533.0,310.0,507000.0,12450.0,60969.0,29067.0,
6,7,Cvs Health,"$184,765",4.10%,"$6,622.00",24.50%,"$95,131","$63,114",203000,Larry J. Merlo,...,RI,42.002876,-71.514784,184765.0,410.0,662200.0,2450.0,95131.0,63114.0,
7,8,Amazon.Com,"$177,866",30.80%,"$3,033.00",27.90%,"$131,310","$700,668",566000,Jeffrey P. Bezos,...,WA,47.606209,-122.332071,177866.0,3080.0,303300.0,2790.0,131310.0,700668.0,
8,9,At&T,"$160,546",-2.00%,"$29,450.00",127.00%,"$444,097","$218,946",254000,Randall L. Stephenson,...,TX,32.776664,-96.796988,160546.0,200.0,2945000.0,12700.0,444097.0,218946.0,
9,10,General Motors,"$157,311",-5.50%,"($3,864.00)",-141.00%,"$212,482","$50,972",180000,Mary T. Barra,...,MI,42.331427,-83.045754,157311.0,550.0,386400.0,14100.0,212482.0,50972.0,
10,11,Ford Motor,"$156,776",3.30%,"$7,602.00",65.40%,"$257,808","$44,244",202000,James P. Hackett,...,MI,42.322260,-83.176315,156776.0,330.0,760200.0,6540.0,257808.0,44244.0,
11,12,Amerisourcebergen,"$153,144",4.30%,$364.50,-74.50%,"$35,317","$18,938",19500,Steven H. Collis,...,PA,40.075663,-75.459082,153144.0,430.0,36450.0,7450.0,35317.0,18938.0,
12,13,Chevron,"$134,533",25.10%,"$9,195.00",-,"$253,806","$217,845",51900,Michael K. Wirth,...,CA,37.779927,-121.978015,134533.0,2510.0,919500.0,0.0,253806.0,217845.0,
13,14,Cardinal Health,"$129,976",6.90%,"$1,288.00",-9.70%,"$40,112","$19,726",40400,Michael C. Kaufmann,...,OH,40.099229,-83.114077,129976.0,690.0,128800.0,970.0,40112.0,19726.0,
14,15,Costco,"$129,025",8.70%,"$2,679.00",14.00%,"$36,347","$82,687",182000,W. Craig Jelinek,...,WA,47.530101,-122.032619,129025.0,870.0,267900.0,1400.0,36347.0,82687.0,
15,16,Verizon,"$126,034",0.00%,"$30,101.00",129.30%,"$257,143","$197,497",155400,Lowell C. McAdam,...,NY,40.712775,-74.005973,126034.0,0.0,3010100.0,12930.0,257143.0,197497.0,
16,17,Kroger,"$122,662",6.40%,"$1,907.00",-3.40%,"$37,197","$20,828",449000,W. Rodney McMullen,...,OH,39.103118,-84.512020,122662.0,640.0,190700.0,340.0,37197.0,20828.0,
17,18,General Electric,"$122,274",-3.50%,"($5,786.00)",-165.50%,"$377,945","$117,054",313000,John L. Flannery Jr.,...,MA,42.360083,-71.058880,122274.0,350.0,578600.0,16550.0,377945.0,117054.0,
18,19,Walgreens Boots Alliance,"$118,214",0.70%,"$4,078.00",-2.30%,"$66,009","$64,924",290000,Stefano Pessina,...,IL,42.171136,-87.844512,118214.0,70.0,407800.0,230.0,66009.0,64924.0,
19,20,Jpmorgan Chase,"$113,899",8.00%,"$24,441.00",-1.20%,"$2,533,600","$375,043",252539,James Dimon,...,NY,40.712775,-74.005973,113899.0,800.0,2444100.0,120.0,2533600.0,375043.0,
20,21,Fannie Mae,"$112,394",4.90%,"$2,463.00",-80.00%,"$3,345,529","$1,633",7200,Timothy J. Mayopoulos,...,WA,47.751074,-120.740139,112394.0,490.0,246300.0,8000.0,3345529.0,1633.0,
21,22,Alphabet,"$110,855",22.80%,"$12,662.00",-35.00%,"$197,295","$719,124",80110,Larry Page,...,CA,37.386052,-122.083851,110855.0,2280.0,1266200.0,3500.0,197295.0,719124.0,
22,23,Home Depot,"$100,904",6.70%,"$8,630.00",8.50%,"$44,529","$206,272",413000,Craig A. Menear,...,GA,33.748995,-84.387982,100904.0,670.0,863000.0,850.0,44529.0,206272.0,
23,24,Bank Of America Corp.,"$100,264",7.00%,"$18,232.00",1.80%,"$2,281,234","$306,618",209376,Brian T. Moynihan,...,NC,35.227087,-80.843127,100264.0,700.0,1823200.0,180.0,2281234.0,306618.0,
24,25,Express Scripts Holding,"$100,065",-0.20%,"$4,517.40",32.70%,"$54,256","$38,791",26600,Timothy C. Wentworth,...,MO,38.627003,-90.199404,100065.0,20.0,451740.0,3270.0,54256.0,38791.0,
25,26,Wells Fargo,"$97,741",3.80%,"$22,183.00",1.10%,"$1,951,757","$255,556",262700,Timothy J. Sloan,...,CA,37.774929,-122.419415,97741.0,380.0,2218300.0,110.0,1951757.0,255556.0,
26,27,Boeing,"$93,392",-1.20%,"$8,197.00",67.50%,"$92,333","$192,539",140800,Dennis A. Muilenburg,...,IL,41.878114,-87.629798,93392.0,120.0,819700.0,6750.0,92333.0,192539.0,
27,28,Phillips 66,"$91,568",26.50%,"$5,106.00",228.40%,"$54,371","$44,730",14600,Greg C. Garland,...,TX,29.760427,-95.369803,91568.0,2650.0,510600.0,22840.0,54371.0,44730.0,
28,29,Anthem,"$90,040",6.10%,"$3,842.80",55.60%,"$70,540","$56,182",56000,Gail K. Boudreaux,...,IN,39.768403,-86.158068,90040.0,610.0,384280.0,5560.0,70540.0,56182.0,
29,30,Microsoft,"$89,950",5.40%,"$21,204.00",26.20%,"$241,086","$702,760",124000,Satya Nadella,...,WA,47.673988,-122.121512,89950.0,540.0,2120400.0,2620.0,241086.0,702760.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,471,Ulta Beauty,"$5,885",21.20%,$555.20,35.50%,"$2,909","$12,459",24200,Mary N. Dillon,...,IL,41.698642,-88.068395,5885.0,2120.0,55520.0,3550.0,2909.0,12459.0,
471,472,Yum Brands,"$5,878",-7.70%,"$1,340.00",-17.20%,"$5,311","$28,307",60000,Greg Creed,...,KY,38.252665,-85.758456,5878.0,770.0,134000.0,1720.0,5311.0,28307.0,
472,473,Regeneron Pharmaceuticals,"$5,872",20.80%,"$1,198.50",33.80%,"$8,764","$37,087",6200,Leonard S. Schleifer,...,NY,41.076208,-73.858746,5872.0,2080.0,119850.0,3380.0,8764.0,37087.0,
473,474,Windstream Holdings,"$5,853",8.60%,"($2,116.60)",-,"$11,084",$289,12979,Anthony W. Thomas,...,AR,34.746481,-92.289595,5853.0,860.0,211660.0,0.0,11084.0,289.0,
474,475,Magellan Health,"$5,838",20.70%,$110.20,41.50%,"$2,957","$2,605",10700,Barry M. Smith,...,AZ,33.494170,-111.926052,5838.0,2070.0,11020.0,4150.0,2957.0,2605.0,
475,476,Western & Southern Financial,"$5,836",8.10%,$310.40,28.70%,"$46,395",-,2226,John F. Barrett,...,OH,39.103118,-84.512020,5836.0,810.0,31040.0,2870.0,46395.0,0.0,
476,477,Intercontinental Exchange,"$5,834",-2.10%,"$2,514.00",76.80%,"$78,264","$42,132",4952,Jeffrey C. Sprecher,...,GA,33.748995,-84.387982,5834.0,210.0,251400.0,7680.0,78264.0,42132.0,
477,478,Ingredion,"$5,832",2.30%,$519.00,7.00%,"$6,080","$9,313",11000,James P. Zallie,...,IL,41.849834,-87.880674,5832.0,230.0,51900.0,700.0,6080.0,9313.0,
478,479,Wyndham Destinations,"$5,821",4.00%,$871.00,42.60%,"$10,403","$11,411",39200,Michael D. Brown,...,NJ,40.865286,-74.417388,5821.0,400.0,87100.0,4260.0,10403.0,11411.0,
479,480,Toll Brothers,"$5,815",12.50%,$535.50,40.10%,"$9,445","$6,566",4500,Douglas C. Yearley Jr.,...,PA,40.178442,-75.128506,5815.0,1250.0,53550.0,4010.0,9445.0,6566.0,
480,481,Seaboard,"$5,809",8.00%,$247.00,-20.80%,"$5,161","$4,992",11800,Steven J. Bresky,...,KS,39.023616,-94.693570,5809.0,800.0,24700.0,2080.0,5161.0,4992.0,
481,482,Booz Allen Hamilton,"$5,804",7.40%,$252.50,-14.10%,"$3,373","$5,617",23300,Horacio D. Rozanski,...,VA,38.933868,-77.177260,5804.0,740.0,25250.0,1410.0,3373.0,5617.0,
482,483,First American Financial,"$5,772",3.50%,$423.00,23.30%,"$9,573","$6,511",18705,Dennis J. Gilmore,...,CA,33.745472,-117.867653,5772.0,350.0,42300.0,2330.0,9573.0,6511.0,
483,484,Cincinnati Financial,"$5,732",5.20%,"$1,045.00",76.90%,"$21,843","$12,185",4925,Steven J. Johnston,...,OH,39.345467,-84.560319,5732.0,520.0,104500.0,7690.0,21843.0,12185.0,
484,485,Avon Products,"$5,716",-2.30%,$22.00,-,"$3,698","$1,251",25000,Jan Zijderveld,...,NY,40.980653,-73.683740,5716.0,230.0,2200.0,0.0,3698.0,1251.0,
485,486,Northern Trust,"$5,716",11.10%,"$1,199.00",16.10%,"$138,591","$23,264",18100,Michael G. O'Grady,...,IL,41.878114,-87.629798,5716.0,1110.0,119900.0,1610.0,138591.0,23264.0,
486,487,Fiserv,"$5,696",3.50%,"$1,246.00",34.00%,"$10,289","$29,466",24000,Jeffery W. Yabuki,...,WI,43.060567,-88.106479,5696.0,350.0,124600.0,3400.0,10289.0,29466.0,
487,488,Harleydavidson,"$5,647",-5.80%,$521.80,-24.60%,"$9,973","$7,198",5800,Matthew S. Levatich,...,WI,43.038902,-87.906474,5647.0,580.0,52180.0,2460.0,9973.0,7198.0,
488,489,Cheniere Energy,"$5,601",336.50%,($393.00),-,"$27,906","$12,703",1230,Jack A. Fusco,...,TX,29.760427,-95.369803,5601.0,33650.0,39300.0,0.0,27906.0,12703.0,
489,490,Patterson,"$5,593",0.70%,$170.90,-8.70%,"$3,508","$2,104",7500,Mark S. Walchirk,...,MN,44.953703,-93.089958,5593.0,70.0,17090.0,870.0,3508.0,2104.0,
490,491,Peabody Energy,"$5,579",18.30%,-,-,"$8,181","$4,649",7100,Glenn L. Kellow,...,MO,38.627003,-90.199404,5579.0,1830.0,0.0,0.0,8181.0,4649.0,
491,492,On Semiconductor,"$5,543",41.90%,$810.70,345.20%,"$7,195","$10,406",34000,Keith D. Jackson,...,AZ,33.448377,-112.074037,5543.0,4190.0,81070.0,34520.0,7195.0,10406.0,
492,493,Simon Property Group,"$5,539",1.90%,"$1,948.00",5.90%,"$32,258","$47,861",4150,David E. Simon,...,IN,39.768403,-86.158068,5539.0,190.0,194800.0,590.0,32258.0,47861.0,
493,494,Western Union,"$5,524",1.90%,($557.10),-320.00%,"$9,231","$8,857",11500,Hikmet Ersek,...,CO,39.647765,-104.987760,5524.0,190.0,55710.0,32000.0,9231.0,8857.0,
494,495,Netapp,"$5,519",-0.50%,$509.00,122.30%,"$9,493","$16,528",10100,George Kurian,...,CA,37.368830,-122.036350,5519.0,50.0,50900.0,12230.0,9493.0,16528.0,
495,496,Polaris Industries,"$5,505",19.80%,$172.50,-19.00%,"$3,090","$7,224",11000,Scott W. Wine,...,MN,45.035241,-93.582459,5505.0,1980.0,17250.0,1900.0,3090.0,7224.0,
496,497,Pioneer Natural Resources,"$5,455",42.70%,$833.00,-,"$17,003","$29,254",3836,Timothy L. Dove,...,TX,32.814018,-96.948894,5455.0,4270.0,83300.0,0.0,17003.0,29254.0,
497,498,Abm Industries,"$5,454",6.00%,$3.80,-93.40%,"$3,813","$2,200",140000,Scott B. Salmirs,...,NY,40.712775,-74.005973,5454.0,600.0,380.0,9340.0,3813.0,2200.0,
498,499,Vistra Energy,"$5,430",5.20%,($254.00),-,"$14,600","$8,925",4150,Curtis A. Morgan,...,TX,32.814018,-96.948894,5430.0,520.0,25400.0,0.0,14600.0,8925.0,
499,500,Cintas,"$5,429",10.70%,$480.70,-30.70%,"$6,844","$18,165",42000,Scott D. Farmer,...,OH,39.103118,-84.512020,5429.0,1070.0,48070.0,3070.0,6844.0,18165.0,

In [211]:
# Writing the data to a CSV file
fortune500_data.to_csv("../fortune500/db/fortune500.csv", index=False)

In [212]:
%%time
# Calculating agregated revenue and profit sector wise
agg_sector["Revenue_Percent"] = 0.0
agg_sector["Profit_Percent"] = 0.0
# Creating more dataframes for sector wise aggregation for revenues and Profits
agg_sector = fortune500_data[["Sector","Industry","Revenues", "Profits"]].groupby(["Sector", "Industry"]).sum().sort_values(by=["Sector", "Industry"]).reset_index()
sector_gross_revenue_profit = fortune500_data[["Sector", "Revenues", "Profits"]].groupby(["Sector"]).sum().sort_values(by=["Sector"]).reset_index()
agg_sector["Profit_Margin"] = agg_sector["Profits"] / agg_sector["Revenues"]

# Viewing the final agg data
for i, row in sector_gross_revenue_profit.iterrows():
    gross_revenue = row["Revenues"]
    gross_profit = row["Profits"]
    sector = row["Sector"]
    mask = agg_sector["Sector"] == sector
    agg_sector.loc[mask, "Revenue_Percent"] = agg_sector.loc[mask, "Revenues"].apply(lambda x: round(x / gross_revenue * 100,2))
    agg_sector.loc[mask, "Profit_Percent"] = agg_sector.loc[mask, "Profits"].apply(lambda x: round(x / gross_profit * 100,2))
    
agg_sector.head()

Wall time: 106 ms

,Sector,Industry,Revenues,Profits,Profit_Margin,Revenue_Percent,Profit_Percent
0,Aerospace & Defense,Aerospace and Defense,352746.0,2485190.0,7.045268,100.00,100.00
1,Apparel,Apparel,68796.0,555390.0,8.072998,100.00,100.00
2,Business Services,"Advertising, marketing",23156.0,166740.0,7.200726,11.06,5.78
3,Business Services,Diversified Outsourcing Services,43889.0,277280.0,6.317756,20.96,9.61
4,Business Services,Financial Data Services,90126.0,1928080.0,21.393161,43.05,66.85

In [213]:
# Writing the aggregate data into CSV's
agg_sector.to_csv("../fortune500/db/sector_industry.csv")

### Creating a Database Connection

#### Connecting to local database

In [214]:
# Connecting to postgreSQL database
DATABASE_URI = f"postgresql://postgres:password@localhost:5432/fortune500_db"

engine = create_engine(DATABASE_URI)

#### Check for tables

In [215]:
engine.table_names()
inspector = inspect(engine)
columns = inspector.get_columns('sector_industry')
for column in columns:
    print(column["name"], column["type"])
inspector.get_table_names()

Sector TEXT
Industry TEXT
Revenues DOUBLE PRECISION
Profits DOUBLE PRECISION
Profit_Margin DOUBLE PRECISION
Revenue_Percent DOUBLE PRECISION
Profit_Percent DOUBLE PRECISION

['sector_industry', 'fortune500']

#### Use pandas to load the converted dataframe into database

In [216]:
# Loading fortune500 data into postgreSQL table
fortune500_data.to_sql(name='fortune500', if_exists='replace', con=engine, index=False)

In [217]:
# Loading aggregated data into tables
agg_sector.to_sql(name='sector_industry', if_exists='replace', con=engine, index=False)